@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AgenorNeue-Regular";
  src: url("public/font/AgenorNeue-Regular.otf") format("otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Identidad-ExtraBold";
  src: url("public/font/Identidad-ExtraBold.otf") format("otf");
  font-weight: 400;
  font-style: normal;
}

@layer base {
  body {
    @apply bg-grey-100 text-grey-400 font-body
    xl:p-12 xl:text-base
    md:p-10
    p-0 text-lg
    dark:bg-black dark:text-white;
  }

  h1 {
    @apply font-header text-3xl font-bold;
  }
  h2 {
    @apply font-header text-2xl font-bold;
  }
  h3 {
    @apply font-header text-xl font-bold;
  }
  h4 {
    @apply font-header text-lg font-bold;
  }
  p {
    @apply my-3
  }
}

@layer components {
  .main-container {
    @apply xl:p-6 border border-gray-500 xl:rounded-lg shadow-md xl:mt-4 xl:min-h-lvh xl:max-w-screen-2xl mx-auto bg-white
    sm:mt-12
    w-full mt-0 h-fit
    dark:bg-grey-500 dark:border-white;
  }
  .floating-menu {
    @apply bg-white md:min-w-64 h-8 rounded-xl border border-gray-400 shadow-md absolute md:top-4 md:left-4 content-center
    sm:inline
    top-2 hidden
    dark:bg-grey-300 dark:text-black;
  }
  .menu-icon {
    @apply mx-4 hover:text-blue-500 border-blue transition
    md:scale-110
  }
  .mobile-nav {
    @apply sm:hidden
    w-full bg-white py-4
    dark:bg-darkyellow-soot
  }
  .mobile-icon {
    @apply scale-150 p-1 mt-6 text-grey-600 dark:text-grey-300
  }
  .user-btn {
    @apply rounded-full md:p-3 bg-white border-gray-400 border shadow-md p-1
    dark:bg-grey-500;
  }
  .header {
    @apply my-5 text-center;
  }
  .expense-modal {
    @apply xl:w-1/3 h-fit xl:top-1/2 xl:my-0 xl:bottom-0

    absolute border-2 border-grey-300  z-10 mx-auto shadow-lg bg-white rounded p-4 w-full left-0 bottom-1/4
  dark:bg-gray-700 dark:border-grey-600
  }
  .exp-inc-item {
    @apply border border-grey-100 rounded-xl max-w-3xl mx-auto p-4 shadow-md text-lg list-none
    dark:shadow-black;
  }
  .exp-inc-btn {
    @apply text-red mx-auto text-center transition-all m-4 dark:text-red-light
    hover:text-white hover:p-2 hover:w-1/3 hover:bg-red hover:rounded-lg;
  }
  .comparison-table {
    @apply xl:w-1/2 h-32 table-fixed border-2 rounded-2xl border-grey-200
    md:w-3/4
    w-full;
  }
  .table-item-grey {
    @apply bg-grey-200;
  }
  .positive-item {
    @apply bg-green text-green-dark;
  }
  .neg-item {
    @apply bg-red text-red-dark;
  }
  .difference {
    @apply bg-yellow-gold text-darkyellow-olive;
  }
  .budget-envelope {
    @apply bg-white w-1/4 h-12;
  }
  .envelope-container-title {
    @apply text-center w-full bg-green-sea p-4 rounded border-gray-500 border-2;
  }
  .envelope-container {
    @apply block;
  }
  .envelope-grid {
    @apply grid xl:grid-cols-4 md:grid-cols-2;
  }
  .envelope {
    @apply max-w-60 min-h-24 max-h-36 my-3 bg-pink-blush cursor-pointer mx-auto border-grey-600 border-2 rounded-md shadow-md text-balance
    hover:border-pink-dark hover:shadow-lg transition;
  }
  .envelope-title-text {
    @apply font-semibold text-xl;
  }
  .envelope-body-text {
    @apply text-grey-600 my-auto;
  }
  .modal-bg {
    @apply fixed inset-0 flex items-center justify-center z-50 bg-black bg-opacity-50;
  }
  .modal-main {
    @apply relative xl:w-1/3 h-fit p-6 bg-white rounded-lg shadow-md z-10
    md:w-4/5
    dark:bg-gray-800;
  }
  .envelope-budget-container {
    @apply grid grow xl:grid-cols-3 max-w-full mx-auto overflow-x-auto justify-items-center
    md:grid-cols-2
    grid-cols-1;
  }
  .summary-envelope {
    @apply xl:w-4/5 max-h-44 text-justify bg-slate-200 p-4 m-4 rounded outline outline-cyan-950 drop-shadow-md overflow-y-auto
    md:w-11/12
    w-3/4
    dark:bg-grey-600 dark:outline-cyan-300;
  }
  .button {
    @apply px-4 py-2 bg-red-soft rounded-lg drop-shadow dark:bg-red-dark
   hover:bg-pink-light hover:duration-75 dark:hover:bg-red-950;
  }
  .export-btn {
    @apply p-4 bg-blue-dark rounded-lg text-white shadow;
  }
  .import-btn {
    @apply p-4;
  }
  .text-input {
    @apply mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 dark:bg-slate-900 dark:text-white;
  }
  .edit-list-container {
    @apply md:max-h-svh overflow-y-scroll
    max-h-80
  }
  .acc-tabs {
    @apply px-9 py-4 md:w-1/3 text-center md:text-lg text-xl hover:bg-gray-100
    dark:hover:bg-gray-700;
  }
  .help-tabs {
    @apply w-full p-4 border-b border-slate-900 md:bg-white bg-grey-100 text-center transition duration-100 hover:bg-slate-200 dark:hover:bg-slate-400 dark:hover:text-black;
  }
  .pref-div {
    @apply mb-6 p-4 border border-gray-200 dark:border-gray-700 rounded-lg shadow-sm bg-white dark:bg-gray-800;
  }
  .radio-btn {
    @apply h-5 w-5 text-blue-600 border-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:ring-blue-500 transition duration-150 ease-in-out cursor-pointer;
  }
  .radio-btn-label {
    @apply ml-3 text-gray-700 dark:text-gray-300 text-base cursor-pointer;
  }
}

@layer utilities {
}
